<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda - Gestion de Productos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <span>JF Accesorios Tecnológicos</span>
        <a href="/">Inicio</a>
        <a href="/realtimeproducts">Productos en Tiempo Real</a>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>
